@charset "UTF-8";
@import url(common.css);

/*********** header ***********/
header{
    height: 100px;    
}

header .inner{
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

header .inner h1 a img{
    width: 238px;
}

header .inner .pc ul{
    display: inline-block;
}

header .inner .pc ul.user{
    margin-left: 50px;
}
header .inner .pc ul li{
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Nanum Myeongjo', serif;
}

header .inner .pc ul.gnb li{
    margin-left: 40px;
}

header .inner .pc ul.user li:first-child{
    margin-right: 20px;
}
header .inner .pc ul.user li a img{
    width: 16px;
}


/*********** .main_visual ***********/
.main_visual{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
}

.main_visual figure:first-child{
    width: 55.88%;
    /* 1073 / 1920 x 100 */
}

.main_visual figure:first-child img{
    width: 100%;
    object-fit: cover;
}

.main_visual figure:first-child p{
    text-align: right;
    margin-right: 35.41%;
    /* margin-right: 380px; */
}

.main_visual figure:last-child{
    width: 32.03%;
    /* 
        첫번째 방법 : width :1073 / 1920 x 100 
        두번째 방법 : width:calc(100% - 55.88% - 232px)
    */

}

.main_visual figure:last-child img{
    width: 100%;    
}

/***************** vie ***************/
.vie .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vie .inner>div{
    width: calc(100% / 3 - 12.5px);
    position: relative;
    margin-bottom: 25px;
}

.vie .inner>div a figure{
    position: relative;
}

.vie .inner>div a figure::before{
    content: "";
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(240, 248, 255, 0.555);
    position: absolute;
    top: 0;
    left: 0;
}

.vie .inner>div.item:hover a figure::before{
    display: block;
}
.vie .inner>div a figure img{
    width: 100%;
}

.vie .inner div.title{
    background:url('../img/vie_text_img.jpg') center center /cover no-repeat;
    display: flex;
    flex-direction: column;
    /* 자식들의 공간이 남아도 세로로 나열시켜주는 역할 
        justify-content: 수직;
        align-items: 수평;
    */
    text-align: center;
    justify-content: center;
}

.vie .inner div.title h3{}
.vie .inner div.title p{
    font-size: 16px;  
    line-height: 1.5;  
    padding: 0 2rem;
}

.vie .inner>div div{
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    text-align: center;
    font-size: 16px;
}

.vie .inner>div:nth-child(2){
    order: -1;
}

.vie .inner>div div h4{
    font-weight: 400;
    margin-bottom: 10px;
}

.editor .inner .list{
    display: flex;
    justify-content: space-between;
    
}

.editor .inner .list figure,
.editor .inner .list .list_text{
    width: calc(100% / 2 - 12.5px);
    height: 670px;
}

.editor .inner .list figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor .inner .list .list_text > div{
    height: 33.33%;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.editor .inner .list .list_text > div:first-child{
    border-top: 1px solid #333;
}

.editor .inner .list .list_text > div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nanum Myeongjo', serif;
    
}

.editor .inner .list .list_text > div div h4{
    font-size: 20px;
}
.editor .inner .list .list_text > div div a{
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 10px;
}

.editor .inner .list .list_text > div div a::before{
    content: "";
    background: url('../img/next_icon.png');
    display: block;
    background-size: 100%;
    width: 6px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    

}

.editor .inner .list .list_text > div p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2rem;
    word-break: keep-all;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best{
    background-color: #eeede9;
    padding: 18rem 0;
}

.best .inner{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.best .inner .left{
    width: 32.13%;
    position: relative;
    margin-top: 5rem;
}

.best .inner .left .best_menu li{
    display: inline-block;
    padding: 0 5px;
    margin-right: 20px;
    margin-bottom: 3rem;
    font-size: 14px;
    color: #888;
}

.best .inner .left .best_menu li.on{
    color: #333;
    border-bottom: 1px solid #333;
}

.best .inner .best_slide_cont{
    width: 66.1%;
}

.best .inner .best_slide_cont .swiper-slide figure img{
    width: 100%;
    border: 1px solid #333;
}
.best .inner .best_slide_cont .mySwiper{
    display: none;
}
.best .inner .best_slide_cont .mySwiper.on{
    display: block;
}
.best .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    display: none;
}

.best .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    display: none;
}

.best .swiper-button-next{
    background: url('../img/arrow-right.png') center center / 100% no-repeat;
    width: 30px;
    height: 30px;
    left: 40px;
    top: 275px;
    margin-top: 0;
}

.best .swiper-button-prev{
    left: 0;
    width: 30px;
    height: 30px;
    top: 275px;
    margin-top: 0;
    background: url('../img/arrow-left.png') center center / 100% no-repeat;
}

.best .inner .best_slide_cont figure{
    max-height: 442px;
    height: 32.5vw;
    /* 442 / 1360 *100 =>vw */
}

.best .inner .best_slide_cont figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.best .inner .best_slide_cont .info{
}

.best .inner .best_slide_cont .info > p{
    font-size: 14px;
    margin: 25px 0 7px;
    color: #555;
}

.best .inner .best_slide_cont .info h4{
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 25px;
    border-bottom: 1px solid #333;
}

.best .inner .best_slide_cont .info > div{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.best .inner .best_slide_cont .info > div p{
    color: #555;
    text-decoration: line-through;
}
.best .inner .best_slide_cont .info > div strong{}
.best .inner .best_slide_cont .info > div strong span{
    margin-left: 15px;
    color: #995727;
}


/********** brand ***********/
.brand .inner .list{
    display: flex;
    justify-content: space-between;
}

.brand .inner .list>div{
    width: calc(100% / 2 - 12.5px);
    max-height: 877px;
}

.brand .inner .list>div.left_item figure img{
    width: 100%;
}
.brand .inner .list>div.list_item figure{
    height: 100%;
}

.brand .inner .list>div.list_item figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand .inner .list .left_item {
    position: relative;
}

.brand .inner .list .left_item div{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.brand .inner .list .left_item div h4{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
}
.brand .inner .list .left_item div p{
    font-size: 16px;
    margin: 10px 0 40px;
}
.brand .inner .list .left_item div a{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 14px;
    position: relative;
}

.brand .inner .list .left_item div a::before{
    content: "";
    background: url("../img/next_icon.png") center center / 100% no-repeat;
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.brand .inner .list>div.right_list{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.brand .inner .list>div.right_list .item{
    width: calc(100% / 2 - 12.5px);
}

.brand .inner .list>div.right_list .item figure img{
    width: 100%;
}

.brand .inner .list>div.right_list .item div{}
.brand .inner .list>div.right_list .item div h4{
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    margin: 25px 0 10px;
}
.brand .inner .list>div.right_list .item div p{
    font-size: 16px;
    line-height: 1.5;
}

.archive{
    height: 580px;
    position: relative;
}

.archive img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.archive .inner{
    margin: 0 auto;
    position: absolute;
    height: 100%;
    top: 0;
    left: 267px;
}

.archive .inner div{
    color: white;
    width: 552px;
    height: 100%;
    padding: 50px;
    background-color: #6c8f4f93;
}
.archive .inner div h3{}
.archive .inner div h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}
.archive .inner div p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.archive .inner div a{
    font-size: 14px;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
}

.archive .inner div a::before{
    content: "";
    background: url('../img/next_icon.png') center center/ cover no-repeat;
    background-size: 100%;
    display: block;
    width: 6px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}


/********** insta **********/
.insta{
    display: flex;
    justify-content: right;
}

.insta .inner{
    max-width: 1655px;
    width: calc(100% - 20px);
    max-height: 475px;
    margin: 18rem 0;
    display: flex;
    justify-content: space-between;
}

.insta .inner .left{
    width: 26.4%;
    position: relative;
}

.insta .inner .left .swiper-insta-next{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/arrow-right.png')center center/100% no-repeat;   
    top: 130px;
    left: 40px;
}

.insta .inner .left .swiper-insta-prev{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/arrow-left.png')center center/100% no-repeat;
    top: 130px;
    left: 0;
}

.swiper-insta-next.swiper-insta-disabled, 
.swiper-insta-prev.swiper-insta-disabled{
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.insta .inner .insta_slide_list{
    width: calc(100% - 26.4% - 12.5px);
    
}

.insta .inner .insta_slide_list .swiper-slide div h4{
    font-size: 16px;
    margin: 15px 0 10px;
    font-weight: 700;
}
.insta .inner .insta_slide_list .swiper-slide div p{
    font-size: 16px;
}
.insta .inner .insta_slide_list .swiper-slide div ul{
    font-size: 14px;
    margin: 10px 0 15px;
}
.insta .inner .insta_slide_list figure img{
    width: 100%;
    
}

@media screen and (max-width:1024px){
    html,body{font-size: 50%;}/* 8px */
    header{height: 70px;}
    header .mobile{
         display: none;
    }
    .mobile{
        display: none;
    }
    header .m_nav{
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        font-size: 25px;
        text-align: center;
        padding: 10rem;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    header .m_nav .gnb{
        padding-bottom: 50px;
    }
    header .m_nav .gnb li{
        padding: 15px 0;
    }
    header .close{
        cursor: pointer;
    }

    header .m_nav .user li{
        display: inline-block;
    }

    header .m_nav .user{
        padding-top: 50px;
        border-top: 1px solid #888;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header .m_nav .user li img{
        width: 20px;
        object-fit: cover;
    }

    header .open{
        display: block;
        cursor: pointer;
    }
    header .close{
        width: 30px;
    }

    header .open{
        width: 30px;
    }
    header .open img{width: 25px;} 
    .main_visual figure:first-child{width: 61.23%;}
    /* 627px / 1024 *100 */
    .main_visual figure:last-child{width: calc(100% - 61.23% - 20px);}
    .main_visual figure:first-child p{margin: 0;}
    .vie .inner>div div{position: static;}
    .vie .inner>div div h4{margin: 15px 0 7px;}
    .editor .inner .list .list_text{
        height:530px;
    }
    .editor .inner .list figure{
        height: 530px;
    }
    .editor .inner .list .list_text img{
        height: 100%;
        object-fit: cover;
    }
    .brand .inner .list{
        display: block;
    }
    .brand .inner .list div{
        width: 100%;
    }
    .brand .inner .list .left_item{
        height: 438px;
        margin-bottom: 20px;
    }

    .brand .inner .list .left_item figure{
        height: 100%;
    }

    .brand .inner .list .left_item figure img{
        height: 100%;
        object-fit: cover;
    }

    .brand .inner .list>div.right_list .item{
        width: calc(100% / 2 - 10px);
    }

    .brand .inner .list>div.right_list .item figure{
        max-height: 280px;
        height: 29.16vw;
        /* 280 / 960 *100 */
    }

    .brand .inner .list>div.right_list .item figure img{
        height: 100%;
        object-fit: cover;
    }
    .brand .inner .list>div.right_list .item div p{
        margin-bottom: 40px;
    }

    .brand .inner .list>div.right_list .item div p br{
        display: none;
    }

    .brand .inner .list>div{
        max-height: none;
    }


    .insta .inner{
        display: block;
    }

    .insta .inner .insta_slide_list{
        width: 100%;
    }
    .insta .inner .left{
        display: flex; 
        width: 100%;
        margin-bottom: 24px;
        align-items: center;
    }

    .insta .inner .left h3{
        margin-bottom: 0;
        font-size: 22.4px;
    }

    .insta .inner .left p{
        font-size: 16px;
        margin-left: 15px;
        height: 100%;
    }
    .insta .inner .left .swiper-insta-next{
        top: 0;
        left: auto;
        right: 10px;
    }

    .insta .inner .left .swiper-insta-prev{
        top: 0;
        left: auto;
        right: 50px;
    }
}

@media screen and (max-width:800px) {
    .editor .inner .list{
        display: block;
    }
    .editor .inner .list figure,
    .editor .inner .list .list_text{
        width: 100%;
    }
    .editor .inner .list figure{
        height: 334px;
        max-height: 89.30vw;
        margin-bottom: 15px;
    }
    .editor .inner .list .list_text{
        height: auto;
    }

    .editor .inner .list .list_text div{
        height: auto;
        padding: 25px 0 ;
    }
}

@media screen and (max-width:600px){
    html,body{font-size: 37.5%;}    
    .main_visual{
        font-size: 16px;
    }

    .main_visual figure:first-child{
        width: 100%;
        height: 500px;
    }

    .main_visual figure:first-child img{
        height: 100%;
        object-fit: cover;
    }

    .main_visual figure:last-child{
        display: none;
    }
    .main_visual figure:first-child p{
        text-align: center;
        margin-top: 15px;
    }
    .vie .inner>div{
        width: calc(100% / 2 - 7.5px);
    }
    .vie .inner>div:last-child{
        display: none;
    }
    .vie .inner>div:nth-child(2){
        order: 0;
    }
    .vie .inner>div div{
        text-align: left;
    }
    .vie .inner div.title{
        width: 100%;
        padding: 47px 0;
    }
    .editor .inner .list .list_text > div div h4{
        font-size: 16px;
    }
    .editor .inner .list .list_text > div p{
        font-size: 14px;
    }
    .best .inner{
        display: block;
    }
    .best .inner .left{
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .best .inner .left .best_menu{
        margin-bottom: 40px;
    }

    .best .inner .best_slide_cont{
        margin-top: 20px;
        width: 100%;
    }

    .best .inner .best_slide_cont figure{
        height: 297px;
    }
    .best .swiper-button-next{
        position: static;
        display: inline-block;
        order: 1;
    }

    
    .best .swiper-button-prev{
        position: static;
        display: inline-block;

    }
    .brand .inner .list .left_item{
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    .brand .inner .list .left_item div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        width: calc(100% / 2 - 7.5px);
    }
    .brand .inner .list .left_item figure{
        width: calc(100% / 2 - 7.5px);
    }
    .brand .inner .list .left_item div a::before{
        top: 0;
        right: 0;
    }
    .brand .inner .list .left_item figure{
        height: 180px;
    }
    .brand .inner .list>div.left_item figure img{
        height: 100%;
    }
    .archive{
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .archive .inner{
        position: static;
        background-color: #995727;
        transform: translateX(0);
        width: 100%;
        order: -1;
    }
    .archive .inner div{
        background-color: transparent;
        /* 투명색상 */
        padding: 30px 20px 60px;
        width: 100%;
        
    }

    .archive img{
        width: calc(100% - 40px);
        height: 250px;
        margin: 0 auto;
        margin-top: -50px;
        position: relative;
        z-index: 999;
        object-fit: cover;
    }
    
}

@media screen and (max-width:380px) {
    .brand .inner .list .left_item{
        display: block;
    }
    .brand .inner .list .left_item figure{
        width: 100%;
        height: 300px;
    }

    .brand .inner .list .left_item figure img{
        height: 100%;
    }
    .brand .inner .list .left_item div{
        width: 100%;
        margin-bottom: 40px;
    }
    .brand .inner .list .left_item div h4{
        margin: 25px 0 10px;
    }
    .brand .inner .list .left_item div p{
        margin: 10px 0;
    }
    .brand .inner .list .left_item div p br{
        display: none;
    }
    header .mobile{
        display: block;
    }
}

/* footer pc */
footer .f_top{
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;

}

footer .f_top .top_menu{
    max-width: 1360px;
    width: calc(100% -40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    height: 60px;
    align-items: center;
}

footer .f_top .top_menu ul li{
    display: inline-block;
    margin-right: 30px;
}

footer .f_top .top_menu  div{
    color: #995727;
}

footer .f_top .top_menu  div strong{
    margin-left: 30px;
}
footer .f_top .top_menu  div strong span{
    margin-left: 10px;
    font-weight: 400;
}

footer .inner{
    margin: 5rem auto;
}

footer .inner .f_info{
    display: flex;
   margin-bottom: 5rem;
}

footer .inner .f_info ul{
    width: 33.33%;
    font-size: 14px;
}

footer .inner .f_info ul:nth-child(2){
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    padding: 0 7.27%;
    margin-right: 7.27%;
}

footer .inner .f_info ul li:first-child{
    margin-bottom: 2rem;
}

footer .inner .f_info ul li{
    line-height: 1.8;
}

footer .inner .f_info ul li strong{
    font-size: 16px;
}

footer .inner p{
    font-size: 14px;
    color: #838383;
    margin-top: 10px;
}

@media screen and (max-width:1240px) {
    footer .f_top{
        position: relative;
        border-bottom: 0;
    }

    footer .f_top::before{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #838383;
        position: absolute;
        top: 59px;
        left: 0;
    }

    footer .f_top .top_menu {
        display: block;
        height: auto;
    }

    footer .f_top .top_menu ul{
        line-height: 60px;
    }

    footer .f_top .top_menu div{
        margin-top: 20px;
    }
}

@media screen and (max-width:1024px){
    footer .inner .f_info{
        flex-wrap: wrap;
    }
    footer .inner .f_info ul:first-child{
        width: 100%;
        margin-bottom: 40px;
    }
    footer .inner .f_info ul:nth-child(2){
        border-left: 0;
        padding-left: 0;
        margin-right: 0;
        width: ;
    }

    footer .inner .f_info ul:nth-child(3){
        padding-left: 7.27%;
        width: ;
    }
}

@media screen and (max-width:760px){
    footer .f_top .top_menu{font-size: 13px;}
    footer .f_top .top_menu ul{
        line-height: 1.8;
        height: 82px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    footer .f_top::before{
        top: 82px;
        justify-content: space-between;
    }

    footer .f_top .top_menu div{
        display: flex;
        
    }

    footer .f_top .top_menu div strong{
        display: flex;
        flex-direction: column;
    }

    footer .f_top .top_menu div strong span{
        margin-left: 0;
    }

    footer .inner .f_info ul li{
        line-height: 1.5;
    }
    footer .inner .f_info ul:first-child{
        font-size: 12px;
        margin-bottom: 25px;
    }

    footer .inner .f_info ul:nth-child(2){
        width: 100%;
        font-size: 12px;
        margin-bottom: 25px;
        border-right: 0;
    }
    footer .inner .f_info ul:nth-child(3){
        width: 100%;
        font-size: 12px;
        padding-left: 0px;
    }
    footer .inner .f_info ul li:first-child{
        margin-bottom: 10px;
    }

    footer .inner p{
        font-size: 12px;
        line-height: 1.5;
    }
}